
body { margin: 0; }
.container { width:1170px; margin:0 auto;}
.logo { display: inline-block; margin-top: 28px;}
.ryt_btn {  text-align: right; }
.menu .ryt_btn a {  display: inline-block;  background-color: #056334; font-family: 'OpenSans';  font-size: 18px;
text-transform: capitalize; text-decoration: none; padding: 5px 9px 4px 9px; border-radius: 10px; color: #fff; margin:0;}
.menu .ryt_btn a img {display: inline-block; vertical-align: middle; }

.menu { width: 78.8%;float: right; margin-top: 30px;}
.menu ul { display:block; margin:40px 0 0; padding: 0;}
.menu ul li{ display:inline-block; vertical-align:top;border-right: 1px solid #474747; float: left; }
.menu ul li a {font-family: 'OpenSans';  font-size: 18px; color:#fff; text-transform: capitalize; text-decoration: none; padding: 13px 15px;  display: inline-block;}
.menu ul li:last-child { border-right: none; }
.menu ul li:hover a{ background-color: #ed1d24; transition: 0.4s;}
.menu ul li.active a{background-color: #ed1d24; color: #fff;}

.sw { width:100%; height:auto;}
header, .banner { background-color: black; }
.banner { text-align: center;}
.banner .container { position: relative; }
.banner_content { position: absolute; bottom: 0; left: 0;
    right: 0; text-align: center; background-color: rgba(0,0,0, 0.4);}
.banner_content h2 { font-family: 'OpenSans';color: #fff; font-weight: normal; font-size: 26px; margin: 9px 26%; letter-spacing: 0.4px;  }
.banner_content h2 span { color: #09fa62; font-size: 36px; }
.banner img { max-width: 100%; margin: auto; }

.info_company { margin: 55px 0 80px;}
.left_see { display: inline-block; vertical-align: top; }
.right_see { display: inline-block; width: 61%; vertical-align: top; float: right; }
.right_see h2 { font-family: 'OpenSans';color: #198d44; font-size: 36px; font-weight: normal; margin: 0; }
.right_see p { font-family: 'OpenSans';font-size: 18px; line-height: 28px; letter-spacing: 0.4px; margin-right: 10px; }
.right_see p span { color: #ed1d24; font-size: 22px; }

.vid_sec { margin-top: 0px; margin-bottom: 80px; }

.heading { text-align: center; }
.heading h2 { position: relative; font-family: 'OpenSans'; font-size: 36px; font-weight: normal; margin: 0; color: #ed1d24;display: inline-block;
    background-color: white; padding: 0 20px; }
.underline {margin-top: -22px;  height: 1px; background-color: #dfdfdf; display: block;}
.img_box {   display: inline-block;    margin: 60px 26px 0 0; }
.img_box p {  font-family: 'OpenSans';font-size: 18px; margin: 10px 0; }
.img_box:last-child { margin-right: 0;}
.img_box img { border: 3px solid #d1d1d1; }

.abo_sec { margin-top: 0px; margin-bottom: 67px; }
.abo_sec center p { font-family: 'OpenSans'; font-size: 18px; margin: 60px 10% 20px;  line-height: 28px;  }
.abo_sec center a {  font-family: 'OpenSans';    font-size: 22px;  color: #fff;  background-color: #ed1d24;  display: inline-block;
    text-decoration: none;    padding: 15px 34px;    border-radius: 6px;   margin-top: 10px;}

footer {background-color: #000; padding: 20px 0;}
footer ul {  margin: 0; padding: 0; text-align: center;}
footer ul li { display:inline-block; vertical-align:top;border-right: 1px solid #474747; }
footer ul li a {font-family: 'OpenSans';  font-size: 18px; color:#b5b5b5; text-transform: capitalize; text-decoration: none; padding: 3px 15px;  display: inline-block;}
footer ul li:last-child { border-right: none; }
footer ul li:hover a{ color: #ed1d24; transition: 0.4s;}
footer ul li.active a{ color: #ed1d24;}
footer p { font-family: 'OpenSans';  font-size: 18px; color:#b5b5b5; text-align: center; }
